@font-face
{
  font-family: candal;
  src:url("candal.ttf");
}
body
{
  font-size: 16px;
  width: 1024px;
  margin:0 auto;
}
footer
{
  margin-top: 30px;
}
footer article
{
  width: 15%;
  display:inline-block;
  vertical-align: top;
  margin-right: 30px;
}
header
{
  border-bottom: 1px dashed gray;
}
header nav ul li
{
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  margin-left: -10px;
  margin-top: 25px;
  color: black;
  font-weight: bold;
}
#secc01art01art01
{
  font-family: 'candal', sans-serif;
  width: 
}
#primeraSeccion article
{
  display: inline-block;
}
#segundaSeccion
{
  margin-top: 15px;
}
#secc01art01
{
  width: 45%; 
  vertical-align: top;
  margin-top: 15px;
}
#secc01art01art01
{
border-bottom: 1px dashed gray;
}
#secc01art01art02
{
 padding-top: 25px;
}
#secc01art02
{
  width: 40%;
}
#bandera
{
  position: relative;
  float: right;
  width: 25px;
  right: 55px;
}
#buy
{
   position: relative;
   float: right;
   width: 40px;
   right: 350px;
   top: 70px;
}
#go
{
   position: relative;
   float: right;
   width:130px;
   right: 100px;
   top: 30px;
}
#first
{
   position: relative;
   width: 150px;
   margin-left: 30px;

}
#logo
{
   position: relative;
   float: right;
   width: 25px;
   right: 60px;
}
#mundo
{
   position: relative;
   float: right;
   width: 25px;
   left: 25px;
}

#bike
{
  width: 300px;
}
#years
{
  width: 100px;
  position: relative;
  float:left;
  top: 390px;
}
#footart5
{
  width: 22%;
}
#video1
{
  width: 260px;
}
#video2
{
   width: 260px;
   margin-left: 15px;
}
#face
{
 position: relative;
 width: 15px;
}
#twitter
{
  position: relative;
  width: 15px;
}
#signal
{
position: relative;
  width: 15px;
}
#voice
{
position: relative;
  width: 20px;
}
.letrachica
{
  font-size: 0.9em;
}
.letragrande
{
  font-size: 4em;
}
.colorverde
{
  color: #73f33d;
}
.colorgris
{
  color: #989898;
}
.nito
{
  font-weight: bold;
}
